.new-todo {
  width: 200px;

  input {
    border: 1px solid #673ab7;
    padding: 10px 5px;
  }

  label {
    padding: 10px 5px;
    border: 1px solid transparent;
    border: 1px solid #673ab7;

    &:hover {
      border: 1px solid #673ab7;
    }
  }
}
