.new-todo {
  width: 200px;

  ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    font-size: 16px;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 16px;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 16px;
  }

  ::placeholder {
    /* Most modern browsers support this now. */
    font-size: 16px;
  }

  input {
    border: none;
    padding: 10px 5px;
    outline: none;
    font-size: 16px;

    &:focus {
      background: transparent;
    }

    &:hover {
      background: transparent;
    }
  }

  label {
    padding: 10px 5px;
    border: 1px solid transparent;
  }
}
