<mat-toolbar color="primary" class="mat-elevation-z8">
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Todo</span>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon>star_rate</mat-icon>
        <p matLine *ngIf="isExpanded">Wichtig</p>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <a *ngFor="let t of todos" mat-list-item routerLinkActive routerLink="/lists/{{t.id}}">
        <mat-icon mat-list-icon>list</mat-icon>
        <p matLine *ngIf="isExpanded">{{ t.title }}</p>
     </a>
      <mat-list-item>
        <mat-icon mat-list-icon>add</mat-icon>
        <new-todo matLine *ngIf="isExpanded"></new-todo>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>


  <div class="main-content">
    <!-- <todo-list [todo]="todos[0]"></todo-list> -->
    <router-outlet></router-outlet>
  </div>

  <!-- <mat-sidenav-content>
      <h1>Contetnt</h1>
        <router-outlet></router-outlet>
    </mat-sidenav-content> -->
</mat-sidenav-container>